@media (min-width: 400px) {
    #bodyid {
        background-image: url('../imgs/flintrelysmall.jpg');
    }
}

@media (min-width: 500px) {
    #bodyid {
        background-image: url('../imgs/flintsmall.jpg');
    }
}

@media (min-width: 600px) {
    #bodyid {
        background-image: url('../imgs/flintmid.jpg');
    }
}
@media (min-width: 800px) {
    #bodyid {
        background-image: url('../imgs/flint.jpg');
    }
}
