@media (min-width: 300px) {
    #bodyid {
        background-image: url('../imgs/flintrelysmall.jpg');
    }
}

@media (min-width: 400px) {
    #bodyid {
        background-image: url('../imgs/flintkindasmall.jpg');
    }
}

@media (min-width: 500px) {
    #bodyid {
        background-image: url('../imgs/flintsmall.jpg');
    }
}

@media (min-width: 600px) {
    #bodyid {
        background-image: url('../imgs/flintmid.jpg');
    }
}
@media (min-width: 1024px) {
    #bodyid {
        background-image: url('../imgs/flintipad.jpg');
    }
}
@media (min-width: 1100px) {
    #bodyid {
        background-image: url('../imgs/flint.jpg');
    }
}
