<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Poop Or Water?</title>
  <link rel='stylesheet' id='global-css' href='./assets/css/bootstrap.css'>

</head>
<body>
  <div>
    <br /><br /><br />
    <div class="row" >

      <div class="col-md-12 col-sm-12 col-xs-12">
        <div>
          <center>

            <h2>Poop or Water?</h2>
            <br /><br />
            <div>
                <button id="startButton" class="btn btn-lg btn-primary" onclick="startGame()">Play!</button>

            </div>
          </center>

        </div>

      </div>

    </div>


  </div>
  <div class="row" id="gameBar" style="display: none;">
    <div class="col-md-3">
    </div>
    <div class="col-md-3">
      <button class="btn btn-lg btn-warning" onclick="choice()">Poop?</button>
      <br /><br />


    </div>
    <div class="col-md-3">
      <button class="btn btn-lg btn-primary" onclick="choice()">Water?</button>
      <br /><br />

    </div>
    <div class="col-md-3">
      <button style="display:none;" class="btn btn-lg btn-primary" >Correct!</button>
      <button style="display:none;" class="btn btn-lg btn-primary" >Wrong!</button>


    </div>
  </div>

  <div id="gameScreen" style="display:none;">

    <div class="col-md-2">

    </div>
    <div class="col-md-8">
      <img id="imageHolder" class="img-responsive" src="./assets/imgs/Pic1_Full_Water.jpg"/>

    </div>
    <div class="col-md-2">

    </div>

  </div>


</body>

<script>
function startGame(){
  document.getElementById('startButton').style.display = 'none';
  document.getElementById('gameScreen').style.display = 'block';
  document.getElementById('gameBar').style.display = 'block';

}
imageList = ["./assets/imgs/Pic1_Full_Water.jpg", "./assets/imgs/Pic2_Full_Water.jpg", "./assets/imgs/Pic3_Full_Water.jpg"]
counter = 0;

function choice(){
counter += 1;

document.getElementById('imageHolder').src = imageList[counter];

}

</script>
</html>
